# Database
DATABASE_URL="file:./dev.db"

# App
APP_URL=http://localhost:8080
PING_MESSAGE="ping pong"

# Email (Gmail SMTP)
GMAIL_USER=
GMAIL_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Figma OAuth
FIGMA_CLIENT_ID=
FIGMA_CLIENT_SECRET=

# Slack OAuth
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# Notion OAuth
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
